@import "../Common/variables.module.scss";

$image-size: 130px;

.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}

.cursorPointer {
    cursor: pointer;
}

.textContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: $padding;
}

.image {
    width: $image-size;
    height: $image-size;
    object-fit: cover;
    display: inline-block;
}

.topCorner {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba($color: #d7eaf3, $alpha: 1);
    color: #062c30;
    border-radius: 0px 25px 0px 25px;
    padding-left: 20px;
    width: 120px;
}
