@import "../Common/variables.module.scss";

.container{
    width:50%;
    min-width: 380px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:transparent !important;
    justify-content: center;
    margin: auto;
    padding:$padding;
    gap:$flex-gap;
}

.textbox{
    width:80%;
    
}

.resize{
    font-size: 25px;
}

.fullWidth{
    width: -webkit-fill-available;
}